html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  padding: 20px;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

a {
  color: inherit;
  text-decoration: inherit;
}

span.pre,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

svg {
  display: block;
  vertical-align: middle;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

span.pre,
pre {
  background-color: rgba(55, 65, 81, 1);
  color: rgba(229, 231, 235, 1);
  overflow: scroll;

  padding: 8px;
  border-radius: 8px;
  margin: 0;
}


.spinner {
  border: 4px solid rgb(15, 15, 15);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}


span.pre,
pre {
  max-height: 200px;
  overflow: scroll;
  width: 100%;
  font-size: 0.8rem;
  padding: 8px;
  border-radius: 8px;
}

.w-full {
  width: 100%;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.grid {
  display: grid;
  width: 100%;
  gap: 32px;
}

.gap-8 {
  gap: 8px;
}

.gap-0 {
  gap: 0px;
}

.small {
  font-size: 0.6rem;
  line-height: 1;
}

.builder-input {
  height: 40px;
  margin: 0;
  padding: 4px 8px;
  font-size: 15px;
}

.p-8 {
  padding: 8px;
}

.bg-grey {
  background: #b0b0b0;
}

.grid.cols-1 {
  grid-template-columns: 1fr;
}

.grid.cols-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid.cols-1-4 {
  grid-template-columns: 80px auto;
}

.grid.cols-auto {
  grid-template-columns: 60px 60px auto;
}

button {
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0.25rem;
  background-color: #e7e7e7;
  transition: all 0.2s ease-in-out;
}

button.green {
  background-color: #7bff00;
}

button.red {
  background-color: #ff2600;
}

button.blue {
  background-color: #2110bb;
}

button.green:hover {
  background-color: #7bff009d;
  cursor: pointer;
}

button.red:hover {
  background-color: #ff260099;
  cursor: pointer;
}

button.blue:hover {
  background-color: #2110bbb0;
  cursor: pointer;
}


button:hover {
  background-color: #d1d2d7;
  cursor: pointer;
}

select,
input {
  background-color: #d1d2d7;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: black;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, auto));
  gap: 16px;
}

.asset-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.gas-wrap {
  width: 100%;
  white-space: wrap;
  font-size: 0.8rem;
  word-break: break-all;
  background-color: rgba(55, 65, 81, 1);
  padding: 8px;
  border-radius: 8px;
  margin: 0;
}

.card {
  color: #fff;
  height: auto;
  align-content: start;
}

.card .inner {
  background-color: #141414;
  box-shadow: 0 20px 16px -24px rgba(0, 0, 0, 0.8);
  padding: 16px;
  border-radius: 8px;
  display: grid;
  gap: 8px;
}


.card.disabled .inner * {
  opacity: 0.75;
  cursor: not-allowed;
}

.card .spinner {
  border: 4px solid #ffffff;
  border-top: 4px solid #141414;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5 {
  color: #fff;
  margin: 0;
}

.card label {
  font-size: 0.7rem;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.card button {
  margin-top: 8px;
}


.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}

.span-4 {
  grid-column: 1/-1;
}

.custom-evm {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.col-2 {
  grid-column: span 1;
}

@media screen and (min-width: 992px) {
  .custom-evm {
    grid-template-columns: 1fr 1fr;
  }

  .col-2 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1200px) {
  .custom-evm {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .col-2 {
    grid-column: span 1;
  }
}


.mobile-nav,
.desktop-nav {
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav {
  display: flex;
}

.mobile-wrap {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  ;
}

.mobile-container {
  position: absolute;
  padding: 8px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  bottom: 0;
  transform: translate(0, 100%);
  text-align: start;
  list-style: none;
  white-space: nowrap;
}

.desktop-nav li {
  padding: 0 16px
}

.desktop-nav li:first-of-type {
  padding-left: 0;
}

.mobile-nav .mobile-wrap li {
  padding: 4px 0
}

.mobile-nav .mobile-wrap li:first-of-type {
  padding-top: 0;
}

@media screen and (min-width: 992px) {
  .auto-grid {
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  }

  .desktop-nav {
    display: flex;
  }

  .mobile-nav {
    display: none;
  }
}

/* @media screen and (min-width: 1200px) {
  .custom-evm {
    grid-template-columns: repeat(4, 1fr);

  }

  .span-4 {
    grid-column: span 4;
  }

} */



/* .builder-input {
  margin-top: 4px;
} */

.sdk-demo-dialog {
  --blur: 5px;
  position: fixed;
  inset: 0px;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  z-index: 49;
  background-color: transparent;
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sdk-demo-dialog .small {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sdk-demo-dialog .dialog-close {
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  padding: 2px;
}

.sdk-demo-dialog .sdk-demo-dialog-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  object-fit: cover;
  opacity: 1;
  width: max(100vw, calc(100vw + (4 * var(--blur))));
  height: max(100vh, calc(100vh + (4 * var(--blur))));
  object-position: center;
  filter: blur(var(--blur));
  pointer-events: none;
}

.sdk-demo-dialog .sdk-demo-dialog-container {
  height: 100%;
  outline: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  opacity: 1;
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sdk-demo-dialog .sdk-demo-dialog-container .sdk-demo-dialog-content {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 1.7px 2.2px -21px rgba(0, 0, 0, 0.142),
    0px 4px 5px -21px rgba(0, 0, 0, 0.18),
    0px 7.2px 9px -21px rgba(0, 0, 0, 0.192),
    0px 11.9px 14.9px -21px rgba(0, 0, 0, 0.196),
    0px 19.6px 24.6px -21px rgba(0, 0, 0, 0.204),
    0px 34.2px 43px -21px rgba(0, 0, 0, 0.233),
    0px 74px 93px -21px rgba(0, 0, 0, 0.37);
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 64px);
  width: calc(100% - 64px);
  max-width: 600px;
  overflow: visible;
  border-radius: 8px;
  background-image: none;
}

@media only screen and (max-width: 481px) {
  .sdk-demo-dialog .sdk-demo-dialog-container .sdk-demo-dialog-content {
    margin: 0px;
  }
}

div.sdk-demo-dialog .spinner {
  border-color: #7bff00;
  border-top-color: transparent;
}

button.disabled {
  cursor: not-allowed !important;
}

.copy-code-btn,
.close-code-btn {
  position: absolute;
  top: calc(16px + 8px);
  right: calc(16px + 8px);
  padding: 8px;
  cursor: pointer;
}

.copy-code-btn {
  right: calc(16px + 8px + 54px);
}

.code-viewer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.code-view {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  padding: 16px;
  cursor: pointer;
}

.code-view pre {
  height: 100%;
  max-height: none;
  padding: 16px !important;
  padding-top: 0 !important
}

.code-btn {
  padding: 8px;
}

.code-btn svg {
  fill: #000;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 481px) {
  .code-view {
    padding: 24px;
  }

  .copy-code-btn,
  .close-code-btn {
    top: calc(24px + 8px);
    right: calc(24px + 8px);
  }

  .copy-code-btn {
    right: calc(24px + 8px + 54px);
  }

}

@media screen and (min-width: 992px) {
  .code-view {
    padding: 32px;
  }

  .copy-code-btn,
  .close-code-btn {
    top: calc(32px + 8px);
    right: calc(32px + 8px);
  }

  .copy-code-btn {
    right: calc(32px + 8px + 54px);
  }
}

@media screen and (min-width: 1200px) {
  .code-view {
    padding: 64px;
  }

  .copy-code-btn,
  .close-code-btn {
    top: calc(64px + 8px);
    right: calc(64px + 8px);
  }

  .copy-code-btn {
    right: calc(64px + 8px + 54px);
  }
}

/* div.fvaui-dialog {
  --blur: 0;
  --fvaui-primaryColor: rgba(243, 236, 236, 1);
  --fvaui-textColor: #fff;
}

div.fvaui-dialog .fvaui-button-close {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);

}

div.fvaui-dialog .fvaui-button-close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

div.fvaui-card {
  background-color: rgba(243, 236, 236, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.4s ease-in-out;
}

div.fvaui-dialog .fvaui-dialog-container .fvaui-dialog-content {
  transition: all .3s cubic-bezier(.4, 0, .2, 1) 0ms;
}

div.fvaui-dialog-content:hover {
  transform: scale(1.05);
}

div.fvaui-dialog-content:hover .fvaui-card {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

p.fvaui-typography-caption {
  color: var(--fvaui-textColor);
}

button:not(.fvaui-button-secondary) p.fvaui-typography,
button .fvaui-web3authbutton-container {
  display: none;
}

div.fvaui-custodialauthoptions-social,
div.fvaui-web3authoptions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

div.fvaui-custodialauthoptions-social .fvaui-iconWrapper {
  width: 32px !important;
}

div.fvaui-custodialauthoptions-container {
  gap: 16px
}

div.fvaui-web3authoptions-container .fvaui-button-web3auth img,
div.fvaui-web3authoptions-container .fvaui-iconWrapper svg,
div.fvaui-web3authoptions-container .fvaui-iconWrapper {
  width: 32px !important;
}

div.fvaui-custodialauthoptions-container .fvaui-button-secondary {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

div.fvaui-custodialauthoptions-social .fvaui-button,
div.fvaui-web3authoptions-container .fvaui-button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: auto;
  height: auto;
  border-radius: 8px;
  padding: 12px;
}

div.fvaui-custodialauthoptions-social .fvaui-button:hover,
div.fvaui-web3authoptions-container .fvaui-button:hover {
  background-color: rgba(255, 255, 255, 0.2)
}


button.fvaui-button-secondary:hover .fvaui-iconWrapper {
  color: #000;
  fill: #000;
}

*/